version: '2'

services:

  db:
    image: postgres 
    container_name: arm-postgres
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_NAME}
      POSTGRES_DB: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - '5432:5432'
    env_file:
      - .env

  web:
    image: arm-bc-web:latest
    container_name: arm-bc-web
    build: .
    command: bash -c "./app/backend/manage.py collectstatic --no-input;./app/backend/manage.py migrate; ./app/backend/manage.py loaddata initial_data; gunicorn app.backend.arm.wsgi -b 0.0.0.0:5000"

    stdin_open: true
    tty: true
    
    volumes:
      - .:/code
      - static_volume:/code/static   

    env_file:
      - .env
      
    environment:
      NGINX_HOST: nginx
      NGINX_PORT: 8080
      DEBUG: 'False'
      LOGGER_LEVEL: WARNING
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      WEASYPRINT_URL: ${WEASYPRINT_URL}

    depends_on:
    - db      

  nginx:
    image: nginx:1.17
    container_name: arm-nginx
    ports:
      - "8000:8080"
    volumes:
      - ./app/backend/conf.d:/etc/nginx/conf.d
      - static_volume:/code/static
    depends_on:
      - web

  weasyprint:
    image: bcgovimages/weasyprint
    container_name: arm-weasyprint
    ports:
      - "5001:5001"
    env_file:
      - .env

volumes:
  static_volume:
