{% extends "base.html" %}

{% block content %}

<div class="container">
  <div id="left-col">
    <div id="left-col-inner">

      {% include "messages.html" %}

      {% if validlink %}
      <form action="" method="post">{% csrf_token %}
        <h2>Please enter your new password:</h2>
        <div class="instructions">
        <p>Password must be 8 characters in length, including characters AND numbers.</p>
        </div>
        <p class="aligned wide"><label for="id_new_password1">New password:</label><input type="password" name="new_password1" id="id_new_password1" /></p>
        <p class="aligned wide"><label for="id_new_password2">Confirm password:</label><input type="password" name="new_password2" id="id_new_password2" /></p>
        <p><input type="submit" value="Change my password" /></p>
      </form>
      {% else %}
      <h2>The password reset link was invalid</h2>
      {% endif %}
    </div>
  </div>
  <div id="right-col">
    <div id="right-col-inner">
    </div>
  </div>
</div>

<div class="push"></div>
<!-- end wrapper -->
</div>


{% endblock %}
