{% load staticfiles %}
<!doctype html>
<html>

<head>
    <title>ARM Worksheet BC</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.min.css"/>

    <!-- Include FontAwesome CSS if you want to use feedback icons provided by FontAwesome -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.1.0/css/font-awesome.min.css" />

    <!-- BootstrapValidator CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"/>

    <!-- jQuery and Bootstrap JS -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>
    
    <!-- added for dialogue windows by KV -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.css" /> 
    <script src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js"></script>
    
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- BootstrapValidator JS -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
    <!-- adding GoogleAnalytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-1119087-17', 'auto');
      ga('send', 'pageview');
    </script>
    <style type="text/css">    
        .armhili {
           color: red !important;
           text-decoration: none !important;
           border-bottom: 1px solid blue !important;
        }
        .fixed-dialog{
            position: fixed;
            top: 33%;
            left: 33%;
        }
        // remove all input spinners
        input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number]{
            -moz-appearance:textfield;
        }


        p.desc { }
        .form-horizontal .has-feedback .form-control-feedback {
            top: 27px !important;
            right: -29px !important;
        }
        
        .riskrating {
            padding-top: 15px;
            font-weight: bold;
        }
        .cautionrating{
            padding-top: 15px;
            font-weight: bold;
            font-size: 13.5px;
            font-style: italic;
        }

        .show-hide-wrapper[data-state='opened'] {
            display: block;
        }

        .show-hide-wrapper[data-state='closed'] {
            display: none;
        }
        
        .riskanalysis {
            border: 1px black solid;
            border-radius: 5px;
            padding: 13px;
        }

    
        .low {
            color: green;
        }
        .med  {
            color: orange;
        }
        .high  {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="page-header">
                    <h2>ARM Worksheet BC</h2>
                    <!-- <p>It is recommended that you fill out this form no more than 24 hours <u>prior</u> to a manure application event, particularly from October through February. You can group similar fields together into one field unit. For questions related to filling out any of the fields below, click on the provided hyperlinks for more information.</p> -->
                    <p>{{ Main_description|safe }}</p>
                </div>

                <!- -
                Change the "action" attribute to your back-end URL
                To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                - ->
                <form id="arm_form" method="post" class="form-horizontal" action="/arm/"
                    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">{% csrf_token %}


                    <div class="form-group">
                        <!--<label class="col-lg-3 control-label">Farm Name</label>-->
                        <label class="col-lg-8"><h3>Farm Name</h3></label>
                        <p class="col-lg-8 desc">{{ FarmName_description|safe }}</p>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="dairy_farm_name"
                                data-bv-notempty="true"
                                data-bv-notempty-message="the farm name is required and cannot be empty"

                                data-bv-stringlength="true"
                                data-bv-stringlength-min="0"
                                data-bv-stringlength-max="2000"
                                data-bv-stringlength-message="the farm name must be more than 0 and less than 2000 characters long"

                                data-bv-regexp="true"
                                data-bv-regexp-regexp="^[a-zA-Z0-9 ]+$"
                                data-bv-regexp-message="the farm name can only consist of alphabetical, number and space characters"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-8"><h3>Application Date</h3></label>
                        <!-- <p class="col-lg-8 desc">Date you want to apply: You must do this evaluation no more than 24 hours prior to application.</p> -->
                        <p class="col-lg-8 desc">{{ ApplicationDate_description|safe }}</p>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="apply_date" placeholder="MM/DD/YYYY"
                                data-bv-notempty="true"
                                data-bv-notempty-message="the date is required"

                                data-bv-date="true"
                                data-bv-date-format="MM/DD/YYYY"
                                data-bv-date-message="the date is not valid" />
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-lg-8"><h3>Field Name or Unit</h3></label>
                        <!-- <p class="col-lg-8 desc">Do a separate evaluation for each field or management unit. A "management unit" is a group of fields with similar soil, crop type, and management conditions.</p> -->
                        <p class="col-lg-8 desc">{{ FieldName_description|safe }}</p>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="managment_unit" placeholder="Enter the field name/number you want to apply to"
                                data-bv-notempty="true"
                                data-bv-notempty-message="the field name is required and cannot be empty"

                                data-bv-stringlength="true"
                                data-bv-stringlength-min="0"
                                data-bv-stringlength-max="2000"
                                data-bv-stringlength-message="the field name must be more than 0 and less than 2000 characters long"

                                data-bv-regexp="true"
                                data-bv-regexp-regexp="^[a-zA-Z0-9 ]+$"
                                data-bv-regexp-message="the field name can only consist of alphabetical, number and space characters"
                            />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-8"><h3>24 hour Precipitation ( mm )</h3></label>
                        <!-- <p class="col-lg-8 desc">Link to <a target="_blank" href="https://sites.google.com/site/wadairyplan/MSA">MSA precipitation</a></p> -->
                        <p class="col-lg-8 desc">{{ 24Preciptation_description|safe }}</p>
                        <div class="col-lg-5">
                            <input type="number" step="0.01" min="0", max="2000" class="form-control" name="precipitation_1" placeholder="Enter the 24 hour precipition amount"
                                data-bv-notempty="true"
                                data-bv-notempty-message="the precipiation is required and cannot be empty"

                                data-bv-regexp="true"
                                data-bv-regexp-regexp="^[0-9.]+$"
                                data-bv-regexp-message="The precipitation can only consist of number characters"

                                data-bv-lessthan-inclusive=false
                                data-bv-lessthan-value=12.7
                                data-bv-lessthan-message="Stop: The risk of runoff associated with more than 12mm of rain after application is too high. Do not apply at this time."
                            />
                        </div>
                        <div class="col-lg-8 desc riskrating" data-name="precipitation_1">Risk Rating: N/A</div>
                        <input type="hidden" class="riskhiddenfield" name="precipitation_1_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-8"><h3>72 hour Precipitation ( mm )</h3></label>
                        <!-- <p class="col-lg-8 desc">Link to <a target="_blank" href="https://sites.google.com/site/wadairyplan/MSA">MSA precipitation</a></p> -->
                        <p class="col-lg-8 desc">{{ 72Preciptation_description|safe }}</p>
                        <div class="col-lg-5">
                            <input type="number" step="0.01" min="0", max="2000" class="form-control" name="precipitation_2" placeholder="Enter the 72 hour precipition amount"
                                data-bv-notempty="true"
                                data-bv-notempty-message="the precipiation is required and cannot be empty"

                                data-bv-regexp="true"
                                data-bv-regexp-regexp="^[0-9.]+$"
                                data-bv-regexp-message="The precipitation can only consist of number characters"

                                data-bv-lessthan-inclusive=false
                                data-bv-lessthan-value=12.7
                                data-bv-lessthan-message="Stop: The risk of runoff associated with more than 12mm of rain after application is too high. Do not apply at this time."
                            />
                        </div>
                        <div class="col-lg-8 desc riskrating" data-name="precipitation_2">Risk Rating: N/A</div>
                        <input type="hidden" class="riskhiddenfield" name="precipitation_2_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-8"><h3>Soil Type</h3></label>
                        <!-- <p class="col-lg-8 desc">Enter the general soil type you want to apply to. If you dont know your soil type, make your selection under "Don't know". Soil type can be found on your farm plan map.</p> -->
                        <p class="col-lg-8 desc">{{ SoilType_description|safe }}</p>
                        <div class="col-lg-5">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="soil_type" value="sand"
                                        data-bv-notempty="true"
                                        data-bv-notempty-message="soil type is required" /> Sandy/Gravelly (Course Textured Soil - A)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="soil_type" value="silt" /> Silt (Medium Textured Soil - B)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="soil_type" value="clay" /> Clay (Fine Textured Soil – C/D)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="soil_type"  value="peat_muck" /> Peat/Muck (Organic Soil)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="soil_type"  value="other" /> Don't know
                                </label>
                            </div>
                        </div>
                        <!--col-lg-5-->
                    </div>


                    <div class="form-group">
                        <label class="col-lg-8"><h3>Soil Moisture</h3></label>
                        <!-- <p class="col-lg-8 desc">Enter moisture value in %. Click on the link for guidance on how to determine soil moisture <a  target="_blank" href="http://www.wadairyplan.org/ARM/soil-moisture-determination">here</a></p> -->
                        <p class="col-lg-8 desc">{{ SoilMoisture_description|safe }}</p>
                        <div class="col-lg-5">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="soil_moisture" value="100" 
                                        data-bv-notempty="true"
                                        data-bv-notempty-message="soil moisture is required"
                                    /> 90-100% (If your boots squish in the field, you are at saturation)


                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="soil_moisture" value="80" /> 80-90% (In this range you would not comforatably drive a tractor into the field  and are worried about potential soil compaction due to field wetness)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="soil_moisture" value="60" /> 60-80% (In this range you could comfortably drive a tractor out into the field without worrying about ruts or field compaction)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="soil_moisture"  value="50" /> &lt; 60% (In this range your soil is firm and starting to dry out)
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-8 desc riskrating" data-name="soil_moisture">Risk Rating: N/A</div>
                        <input type="hidden" class="riskhiddenfield" name="soil_moisture_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-8"><h3>Water Table Depth ( inches )</h3></label>
                        <!-- <p class="col-lg-8 desc">Water table can be determined by nearby ditches, or by digging a hole in your field. For more on how to determine water table depth, click <a target="_blank" href="http://www.wadairyplan.org/ARM/water-table-depth-determination">here</a>. 1 foot = 12 inches.</p> -->
                        <p class="col-lg-8 desc">{{ WaterTableDepth_description|safe }}</p>
                        <div class="col-lg-5">
                        <select class="form-control" name="water_table_depth" id="water_table_depth"
                            data-bv-notempty="true"
                            data-bv-notempty-message="the water table depth is required and cannot be empty"

                            data-bv-greaterthan-inclusive=false
                            data-bv-greaterthan-value=12
                            data-bv-greaterthan-message="Stop: The water table is too close to the soil surface for safe application at this time. Wait until it recedes  before manure is applied." >
                                <option value>Select a Value</option>
                            {% for option in WaterTableDepthOptions %}
                                <option value="{{ option.value }}">{{ option.description }}</option>
                            {% endfor %}
                        </select>
                        </div>

                        <div class="col-lg-8 desc riskrating" data-name="water_table_depth">Risk Rating: N/A</div>
                        <input type="hidden" class="riskhiddenfield" name="water_table_depth_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-8"><h3>Forage Density ( % )</h3></label>
                        <!-- <p class="col-lg-8 desc">Click link for guidance on how to determine forage density <a  target="_blank" href="http://www.wadairyplan.org/ARM/forage-density-determination">here</a></p> -->
                        <p class="col-lg-8 desc">{{ ForageDensity_description|safe }}</p>
                        <div class="col-lg-5">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="forage_density" value="90"
                                        data-bv-notempty="true"
                                        data-bv-notempty-message="forage density is required" /> 90-100%
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="forage_density" value="80" /> 80-90%
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="forage_density" value="70" /> 70-80%
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="forage_density"  value="60" /> 50-70%
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="forage_density"  value="50" /> &lt; 50%
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="forage_density"  value="101" /> Other: Annual/Fallow/Row Crop Field (eg, new seeding, corn, berry, bare soil, etc.)
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-8 desc riskrating" data-name="forage_density">Risk Rating: N/A</div>
                        <input type="hidden" class="riskhiddenfield" name="forage_density_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-8"><h3>Forage Height</h3></label>
                        <p class="col-lg-8 desc">{{ ForageHeight_description|safe }}</p>
                        <div class="col-lg-5">
                            <select class="form-control" name="forage_height" id="forage_height"
                                data-bv-notempty="true"
                                data-bv-notempty-message="the forage height is required and cannot be empty"

                                data-bv-greaterthan-inclusive=false
                                data-bv-greaterthan-value=1
                                data-bv-greaterthan-message="Stop: Cover height is not adequate to properly function: Instate a 100 manure setback distance from critical areas"
                            >
                                    <option value>Select a Value</option>
                                {% for option in ForageHeightOptions %}
                                    <option value="{{ option.value }}">{{ option.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-8 desc riskrating" data-name="forage_height">Risk Rating: N/A</div>
                        <input type="hidden" class="riskhiddenfield" name="forage_height_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                    </div>



                    <div class="form-group">
                        <label class="col-lg-8"><h3>Field Surface Condition</h3></label>
                        <!-- <p class="col-lg-8 desc">Check all that apply to your current field conditions</p> -->
                        <p class="col-lg-8 desc">{{ ForageHeight_description|safe }}</p>
                        <div class="col-lg-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="surface_condition" value="ponding"
                                        data-bv-notempty="true"
                                        data-bv-notempty-message="field surface condition is required" /> Ponding
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="surface_condition" value="flooding" /> Flooding current or potential in 15 days
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="surface_condition" value="frozen" /> Frozen ( more than 1 inch ) or snow covered
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="surface_condition" value="snow-ice" /> Snow or ice-covered soil (5cm or more of snow over 50% (or more) of the field
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="surface_condition"  value="tiles" /> Tiles present in field
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="surface_condition"  value="none" /> None of the above
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-8 desc riskrating" data-name="surface_condition">Risk Rating: N/A</div>
                        <input type="hidden" class="riskhiddenfield" name="surface_condition_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                        <input type="hidden" name="surface_condition_list" value="" />
                    </div>



                    <div class="form-group">
                        <label class="col-lg-8"><h3>Manure Application Equipment</h3></label>
                        <!-- <p class="col-lg-8 desc">Check equipment/method of application</p> -->
                        <p class="col-lg-8 desc">{{ ManureApplicationEquipment_description|safe }}</p>
                        <div class="col-lg-5">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="application_equipment" value="below_application"
                                        data-bv-notempty="true"
                                        data-bv-notempty-message="application equipment is required" /> Below surface applicator (eg, injector, incorportaion within 24 hours)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="application_equipment" value="surface_application" /> Surface application (eg, splash plate, tank, aerator)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="application_equipment"  value="irrigation_sprinkler" /> Irrigation sprinkler (eg, Big Gun)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="application_equipment"  value="grazing" /> Grazing
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="application_equipment"  value="soild_manure_application" /> Solid Manure Application
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-8 desc riskrating" data-name="application_equipment">Risk Rating: N/A</div>
                        <input type="hidden" class="riskhiddenfield" name="application_equipment_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-8"><h3>Waterbody or Critical Area</h3></label>
                        <!-- <p class="col-lg-8 desc">Do you have a waterbody (i.e., ditch, stream, river, etc.) or identified critcal area (i.e., swale, wetland, etc) adjacent to your field?</p> -->
                        <p class="col-lg-8 desc">{{ WaterbodyCriticalArea_description|safe }}</p>
                        <div class="col-lg-5">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="critical_area" value="yes" data-bv-notempty="true" data-bv-notempty-message="critical area is required" /> Yes (answer next question)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="critical_area" value="no" /> No (click submit)
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-8 desc riskrating" data-name="critical_area"></div>
                        <input type="hidden" class="riskhiddenfield" name="critical_area_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                    </div>



                    <div class="show-hide-wrapper" data-state="closed">
                        <div class="form-group">
                            <label class="col-lg-8">Manure Setback Distance</label>
                            <!-- <p class="col-lg-8 desc">Manure setbacks must be a minimum of 10 feet from May 1 to August 31 (40 for Big Gun use). 40 feet from September 1 to May. and 80 feet from October 1 to February 28. For more information on seasonal manure application setback distance, click <a target="_blank" href="http://www.wadairyplan.org/setbacks">here</a></p> -->
                            <p class="col-lg-8 desc">{{ ManureSetback_description|safe }}</p>
                        <div class="col-lg-5">
                                <input type="text" class="form-control" name="manure_setback_distance"
                                    data-bv-notempty="true"
                                    data-bv-notempty-message="manure setback distance is required and cannot be empty"

                                    data-bv-regexp="true"
                                    data-bv-regexp-regexp="^[0-9]+$"
                                    data-bv-regexp-message="manure setback distance can only consist of number characters"

                                />
                            </div>
                            <div class="col-lg-8 desc riskrating" data-name="manure_setback_distance"></div>
                            <input type="hidden" class="riskhiddenfield" name="manure_setback_distance_risk" value="" />
                        <div class="col-lg-8 cautionrating"></div>
                        </div>
                    </div><!--group-wrapper-->

                    <div class="form-group riskanalysis">
                        <label class="col-lg-8"><h3>Application Risk Analysis for Surface Runoff</h3></label>
                        <p class="col-lg-8 desc"></p>
                        <!--<div class="col-lg-8 desc riskrating" data-name="total_risk">Risk Rating: N/A</div>-->
                        <div class="col-lg-8">
                            <div class="readonly">
                                <label>
                                    <input readonly=readonly type="text" name="total_risk" value=""/>
                                </label>
                            </div>
                        </div> 
                    </div>
                    <p>Save as PDF by clicking File > Print on your desktop browser menu. Then click Save.</p>
                    <!-- <button id="send_btn" type="submit" class="btn btn-default">Send/Email</button> -->
                    <button id="clear_btn" class="btn btn-default">Clear</button>                    
                    <button id="print_btn" type="submit" class="btn btn-default">Print/Save </button>

                 <div id="downloadwindow" title="Download PDF Form"></div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/validators.js' %}"></script> 
<script>

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    /*
    **
    **  ON READY
    **
    */
    $(document).ready(function() {

        var form_selector = '#arm_form';
        var pdfdownloadlink = "";
        var armbaseurl = "https://maps.whatcomcd.org/";
        $( form_selector )
            .on('init.form.bv', function(e) {

                // auto populate apply date and call validator
                var now = new Date();
                $( "input[name='apply_date']" ).val( now.getMonth()+1 + "/" + now.getDate() + "/" + now.getFullYear() );
                $( "input[name='apply_date']" ).change();

                // handle  24 and 72 hour params if exist
                var oneday_predict = getParameterByName( '24' );
                var threeday_predict = getParameterByName( '72' );
                if ( oneday_predict && threeday_predict ) {
                    $( "input[name='precipitation_1']" ).val( Number( oneday_predict ) );
                    $( "input[name='precipitation_1']" ).change();
                    $( "input[name='precipitation_2']" ).val( Number( threeday_predict ) );
                    $( "input[name='precipitation_2']" ).change();
                }
            })
            .bootstrapValidator( window.CONFIG_VALIDATOR )
            .on('error.field.bv', function(e,data) {
                // $(e.target)  --> The field element
                // data.bv      --> The BootstrapValidator instance
                // data.field   --> The field name
                // data.element --> The field element
                if  ( data.field === 'apply_date' ) {
                    // revalidate manure setback
                    if ( $( "input[name='manure_setback_distance']" ).val() !== "" ) {
                        data.bv.revalidateField( 'manure_setback_distance' ); 
                    }
                }
                $( document ).trigger( 'rating-update', [ {}, true ] )
            })
            .on('success.field.bv', function(e, data) {
                // $(e.target)  --> The field element
                // data.bv      --> The BootstrapValidator instance
                // data.field   --> The field name
                // data.element --> The field element
                if  ( data.field === 'apply_date' ) {
                    // revalidate manure setback
                    if ( $( "input[name='manure_setback_distance']" ).val() !== "" ) {
                        data.bv.revalidateField( 'manure_setback_distance' ); 
                    }
                }
                $( document ).trigger( 'rating-update', [ RATING ] )
            })
            .on('success.form.bv', function(e) {

                var $form = $(e.target);

                // delete all hidden inputs
                $( "input.hidden_risk" ).remove();
                
                // add all risk ratings as hidden inputs
                $( '.riskrating' ).each( function( indx, elem ) {

                    var data_name = $( elem ).attr( 'data-name' );
                    var value = $( elem ).text();

                    $form.append( '<input type="hidden" class="hidden_risk" name="'+data_name+'_risk" value="'+value+'"/>' );

                });

            });


        /*
        **
        **  event bindings
        **
        */
        $('input[name=surface_condition]' ).on( 'click' , function( e ) {
            if(this.value == 'none' && this.checked == true)
            {
                $("input[name='surface_condition']").each( function () {
                    if(this.value != 'none')
                    {
                        this.checked = false;
                    }
                });
            }
            else{
                $("input[name='surface_condition']").each( function () {
                    if(this.value == 'none')
                    {
                        this.checked = false;
                    }
                });
            }
        });

        $( '#clear_btn' ).on( 'click', function( e ) {
            e.stopPropagation();
            e.preventDefault();

            $( form_selector ).data( 'bootstrapValidator' ).resetForm();

            // clear risk and caution ratings
            $( 'div.riskrating' ).text('');
            $( 'div.cautionrating' ).text('');

            // clear all radio and text inputs except the ones we want
            $( "input[data-bv-notempty='true']" ).each( function( indx, elem ) {
                var name = $( elem ).attr( 'name' );
                if ( !( name in { 'apply_date' : true, 'precipitation_1' : true, 'precipitation_2' : true } ) ) {
                    $( elem ).val( '' );
                }
            });

            $( "input[type='radio']:checked" ).prop( "checked", false )

            $('select option:first-child').attr("selected", "selected");
        } ); 

        $( '#send_btn' ).on( 'click', function( e ) {
            e.stopPropagation();
            e.preventDefault();
            createFormPdf('email');
            // var thedownloadlink = createFormPdf('email');
            // var emailmessage = "You can download your form in PDF format here "+thedownloadlink ;
            // window.location.href = "mailto:?subject=Your ARM Worksheet Download Link&body="+emailmessage; 
        });

        $( '#print_btn' ).on( 'click', function( e ) {
            // validate entire form
            e.stopPropagation();
            e.preventDefault();
            // var theerrors = amessage.length;
            // loop fields check if invalid
            createFormPdf('print');
        });

        function createFormPdf(requesttype){
        // create array for check
            var i, formfield, theerrors, returnlink;
            returnlink = null;
            // armbaseurl = "https://maps.whatcomcd.org/";
            var theerrors = 0;
            var scval = "";
            var critical_area = "";
            var surface_condition_array = [];
            var formfieldsarray = [['dairy_farm_name','text'],['apply_date','text'],['managment_unit','text'],['precipitation_1','text'],['precipitation_2','text'],['water_table_depth','text'],['forage_height','dropdown'],['soil_type','radio'],['soil_moisture','radio'],['forage_density','radio'],['surface_condition','checkbox'],['application_equipment','radio'],['critical_area','radio'],['manure_setback_distance','text']];
            var fieldvaluesarray = [];
            var len = formfieldsarray.length;
            for (i=0; i<len; ++i) {
              if (i in formfieldsarray) {
                formfield = formfieldsarray[i][0];
                fieldtype = formfieldsarray[i][1];
                if (fieldtype === "text"){
                    fieldvaluesarray[i] = $("#arm_form input[name="+formfield+"]").val();
                }
                else if (fieldtype === "radio"){
                    fieldvaluesarray[i] = $("#arm_form input[name="+formfield+"]:checked").val(); 
                }
                else if (fieldtype === "checkbox"){
                    surface_condition_array = [];
                    $('input[name=surface_condition]:checked').each(function () {
                        // add values to array for surface_condition
                        scval = (this.checked ? $(this).val() : "");
                        if (scval !== "") {
                           surface_condition_array.push(scval);
                        }
                    });
                    fieldvaluesarray[i] = surface_condition_array.toString();
                }
                else if (fieldtype === "dropdown"){
                    fieldvaluesarray[i] = $("#"+formfield+" :selected").val();
                }
                // if no value reevaluate for invalid mark
                if     ( fieldvaluesarray[i] === "" || typeof fieldvaluesarray[i] === "undefined"){
                    // re-validate only that field
                    // check if visible
                    var isvisible = $("#arm_form input[name="+formfield+"]").is(":visible") || $("#arm_form select[name="+formfield+"]").is(":visible"); 
                    if (isvisible){
                       $('#arm_form').data('bootstrapValidator').revalidateField(formfieldsarray[i][0]);
                       console.log("Assumed form field entry error in "+ formfieldsarray[i][0]);
                       theerrors = theerrors +1;
                    }
                }
              }
            }
            
            if (theerrors < 1) {

                //Create delimited list of surface conditions
                var surfaceConditionList = "";
                $("input[name=surface_condition]:checked").each(function()
                {
                    surfaceConditionList += this.value + ', ';
                });

                $('input[name=surface_condition_list]').val(surfaceConditionList);    

                // Get PDF from View
                var post_url = $('#arm_form').attr("action"); //get form action url
                var form_data = $('#arm_form').serialize(); //Encode form elements for submission

                var request = new XMLHttpRequest();
                request.open('POST', 'pdf/', true);
                request.responseType = 'arraybuffer';
                
                //Send the proper header information along with the request
                request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                request.onreadystatechange = function() {//Call a function when the state changes.
                    if(request.readyState == 4 && request.status == 200) {
                        var blob = new Blob([request.response], {type: 'application/pdf'});
                        var isMS = window.navigator.msSaveOrOpenBlob ? true : false; // check if IE, Edge, etc
                        if(isMS)
                        {
                            var farmName = $("input[name=dairy_farm_name]").val();
                            filename = `${farmName}.pdf`; // FUTURE: add date stamp to filename?
                            window.navigator.msSaveOrOpenBlob(blob, filename);
                        }
                        else
                        {
                            var url = URL.createObjectURL(blob);
                            window.open(url);
                        }
                    }
                }
                request.send(form_data);

            }
            else {
                // validator.focusInvalid({ignore:":not(:visible)"});
                // loop trough invalid fiedls only
                // $('#arm_form').data('bootstrapValidator').revalidateField('soil_moisture');
                // validator.focusInvalid();
                alert('Required form entires missing.\n Please find required form fields (marked in red)\n to fill out and submit the form\n once again!');
                $('#arm_form').find(":input.error:first").focus();
                // special display
                remove_risk_rating_classes( $( "input[ name='total_risk' ]" ) );
                $( "input[ name='total_risk' ]" ).addClass( 'high' );
                $( "input[ name='total_risk' ]" ).val( 'Fill Out All Fields' ); 
                $( "input[ name='total_risk' ]" ).parents( '.form-group' ).find( '.desc' ).text( "Please fill out all form fields." ); 

            }
        }



        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
        
        function showDownload(pdfdownloadlink) {
            $("#downloadwindow").empty(); // empty out previous content if any 
            $('<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Click <span class="armhili"><a target="_blank" href="'+pdfdownloadlink+'"> here to save/open your PDF</a></span></div>').appendTo('#downloadwindow');  
            $( "#downloadwindow" ).dialog({
              resizable: false,
              height:'auto',
              modal: true,
              autoOpen: false,
              buttons: {
                Close: function() {
                  $("#downloadwindow").empty();
                  $( this ).dialog( "close" );
                }
              }
            });
            $("#downloadwindow").dialog( "open" );
        }  

    }); //  ready


</script>
</body>
</html>
